html {
    font-size: 16px;
}

body {
    max-width: 1920px;
    background-color: #CCFFFF;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.title {
    text-align: center;
}

.calc-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.calc-label {
    width: 48%;
    margin-bottom: 1.2rem;
}

.calc-input {
    display: block;
    margin-top: 0.6rem;
    margin-right: auto;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: darkslategrey;
    background-color: transparent;
    border: 2px solid rgb(158, 223, 85);
    border-radius: 15px;
    outline: none;
}

.btn-total {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    margin: 25px auto;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(158, 223, 85);
    border-radius: 15px;
    outline: none;
}

.btn-total:active {
    transform: translate(2px, 2px);
}

.out {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid rgb(158, 223, 85);
    border-radius: 15px;
}
